body {
    background-image: url(car.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
}

.input {
    margin: 20px;
}

.select,
.btn,
.showTotal {
    width: 250px;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
}

.btn,
.showTotal {
    margin: 20px;
    background-color: yellow;
    color: black;
    font-size: large;
    font-weight: bolder;
}

.btn:hover {
    cursor: pointer;
}

.showTotal {
    display: none;
    background-color: brown;
    color: white;
}