.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
}

.options {
    width: 300px;
    height: 50px;
    border-radius: 30px;
    padding: 10px;
    color: #01937C;
    font-size: large;
}

h1 {
    color: #01937C;
    font-size: 70px;
}