body {
    background-color: burlywood;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 40vh;
}

.btn {
    width: 250px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    align-self: center;
}

.btn:hover {
    cursor: pointer;
}

.par {
    display: flex;
    justify-content: center;
}