body {
    background-color: #F0D9FF;
}

.initialInput {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fullName {
    width: 400px;
    margin-top: 20vh;
    height: 30px;
}

.fullName,
.firstName,
.lastName,
.fathersName {
    text-align: center;
    border: 3px solid #7F7C82;
    border-radius: 20px;
    height: 30px;
}

.btn {
    margin: 40px;
    padding: 10px;
    border: 3px solid #7F7C82;
    background-color: #BFA2DB;
    border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
}