body {
    background-image: url(cat.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
}

h1 {
    font-family: 'Kaisei HarunoUmi', serif;
    font-weight: bolder;
    font-size: 25px;
    color: black;
    margin-left: 10px;
}

.container {
    display: flex;
    flex-direction: row;
}

#formFields {
    display: flex;
    flex-direction: column;
    width: 350px;
}

input,
#breed {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #F2EDD7;
    border: 1px solid black;
    font-family: 'Kaisei HarunoUmi', serif;
    font-weight: bolder;
    font-size: 15px;
    color: #black;
}

input:focus {
    background-color: white;
}

p {
    font-family: 'Kaisei HarunoUmi', serif;
    font-weight: bolder;
    font-size: 20px;
}

#chooseOptions,
input {
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 15px;
}

#comment {
    width: 300px;
    height: 150px;
    resize: none;
    margin: 10px;
    border: 2px solid olive;
    border-radius: 20px;
    padding: 15px;
}

#loadPhoto {
    display: flex;
    flex-direction: column;
}

#loadPhoto>input {
    background-color: transparent;
    border: 1px solid black;
}

#btn {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: olive;
    font-family: 'Kaisei HarunoUmi', serif;
    font-weight: bolder;
    font-size: 15px;
    color: white;
}